.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
.kotlin

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
data/#ib_16384_0.dblwr
data/#ib_16384_1.dblwr
data/auto.cnf
data/binlog.000001
data/binlog.000002
data/binlog.000003
data/binlog.000004
data/binlog.000005
data/binlog.000006
data/binlog.index
data/ca-key.pem
data/ca.pem
data/client-cert.pem
data/client-key.pem
data/ib_buffer_pool
data/ibdata1
data/ibtmp1
data/mysql.ibd
data/mysql.sock
data/private_key.pem
data/public_key.pem
data/server-cert.pem
data/server-key.pem
data/undo_001
data/undo_002
src/main/resources/db/liquibase/ABOUT.txt
src/main/resources/db/liquibase/changelog.txt
src/main/resources/db/liquibase/GETTING_STARTED.txt
src/main/resources/db/liquibase/LICENSE.txt
src/main/resources/db/liquibase/liquibase
src/main/resources/db/liquibase/liquibase.bat
src/main/resources/db/liquibase/README.txt
src/main/resources/db/liquibase/UNINSTALL.txt
src/main/resources/db/liquibase/examples/start-h2
src/main/resources/db/liquibase/examples/start-h2.bat
src/main/resources/db/liquibase/examples/json/blank-changelog.json
src/main/resources/db/liquibase/examples/json/example-changelog.json
src/main/resources/db/liquibase/examples/json/example-changeset-json.txt
src/main/resources/db/liquibase/examples/json/liquibase.advanced.flowfile.yaml
src/main/resources/db/liquibase/examples/json/liquibase.checks-package.yaml
src/main/resources/db/liquibase/examples/json/liquibase.customlogdata.yaml
src/main/resources/db/liquibase/examples/json/liquibase.endstage.flow
src/main/resources/db/liquibase/examples/json/liquibase.flowfile.yaml
src/main/resources/db/liquibase/examples/json/liquibase.flowvariables.yaml
src/main/resources/db/liquibase/examples/json/liquibase.properties
src/main/resources/db/liquibase/examples/sql/blank-changelog.sql
src/main/resources/db/liquibase/examples/sql/example-changelog.sql
src/main/resources/db/liquibase/examples/sql/example-changeset-sql.txt
src/main/resources/db/liquibase/examples/sql/liquibase.advanced.flowfile.yaml
src/main/resources/db/liquibase/examples/sql/liquibase.checks-package.yaml
src/main/resources/db/liquibase/examples/sql/liquibase.customlogdata.yaml
src/main/resources/db/liquibase/examples/sql/liquibase.endstage.flow
src/main/resources/db/liquibase/examples/sql/liquibase.flowfile.yaml
src/main/resources/db/liquibase/examples/sql/liquibase.flowvariables.yaml
src/main/resources/db/liquibase/examples/sql/liquibase.properties
src/main/resources/db/liquibase/examples/sql/liquibase.psql.conf
src/main/resources/db/liquibase/examples/sql/liquibase.sqlcmd.conf
src/main/resources/db/liquibase/examples/sql/liquibase.sqlplus.conf
src/main/resources/db/liquibase/examples/xml/blank-changelog.xml
src/main/resources/db/liquibase/examples/xml/example-changelog.xml
src/main/resources/db/liquibase/examples/xml/example-changeset-xml.txt
src/main/resources/db/liquibase/examples/xml/liquibase.advanced.flowfile.yaml
src/main/resources/db/liquibase/examples/xml/liquibase.checks-package.yaml
src/main/resources/db/liquibase/examples/xml/liquibase.customlogdata.yaml
src/main/resources/db/liquibase/examples/xml/liquibase.endstage.flow
src/main/resources/db/liquibase/examples/xml/liquibase.flowfile.yaml
src/main/resources/db/liquibase/examples/xml/liquibase.flowvariables.yaml
src/main/resources/db/liquibase/examples/xml/liquibase.properties
src/main/resources/db/liquibase/examples/xml/liquibase.psql.conf
src/main/resources/db/liquibase/examples/xml/liquibase.sqlcmd.conf
src/main/resources/db/liquibase/examples/xml/liquibase.sqlplus.conf
src/main/resources/db/liquibase/examples/yaml/blank-changelog.yaml
src/main/resources/db/liquibase/examples/yaml/example-changelog.yaml
src/main/resources/db/liquibase/examples/yaml/example-changeset-yaml.txt
src/main/resources/db/liquibase/examples/yaml/liquibase.advanced.flowfile.yaml
src/main/resources/db/liquibase/examples/yaml/liquibase.checks-package.yaml
src/main/resources/db/liquibase/examples/yaml/liquibase.customlogdata.yaml
src/main/resources/db/liquibase/examples/yaml/liquibase.endstage.flow
src/main/resources/db/liquibase/examples/yaml/liquibase.flowfile.yaml
src/main/resources/db/liquibase/examples/yaml/liquibase.flowvariables.yaml
src/main/resources/db/liquibase/examples/yaml/liquibase.properties
src/main/resources/db/liquibase/internal/lib/commons-collections4.jar
src/main/resources/db/liquibase/internal/lib/commons-lang3.jar
src/main/resources/db/liquibase/internal/lib/commons-text.jar
src/main/resources/db/liquibase/internal/lib/h2.jar
src/main/resources/db/liquibase/internal/lib/hsqldb.jar
src/main/resources/db/liquibase/internal/lib/jaxb-api.jar
src/main/resources/db/liquibase/internal/lib/jaxb-core.jar
src/main/resources/db/liquibase/internal/lib/jaxb-runtime.jar
src/main/resources/db/liquibase/internal/lib/jaybird.jar
src/main/resources/db/liquibase/internal/lib/jcc.jar
src/main/resources/db/liquibase/internal/lib/liquibase-commercial.jar
src/main/resources/db/liquibase/internal/lib/liquibase-core.jar
src/main/resources/db/liquibase/internal/lib/mariadb-java-client.jar
src/main/resources/db/liquibase/internal/lib/mssql-jdbc.jar
src/main/resources/db/liquibase/internal/lib/ojdbc8.jar
src/main/resources/db/liquibase/internal/lib/opencsv.jar
src/main/resources/db/liquibase/internal/lib/picocli.jar
src/main/resources/db/liquibase/internal/lib/postgresql.jar
src/main/resources/db/liquibase/internal/lib/snakeyaml.jar
src/main/resources/db/liquibase/internal/lib/snowflake-jdbc.jar
src/main/resources/db/liquibase/internal/lib/sqlite-jdbc.jar
src/main/resources/db/liquibase/lib/liquibase_autocomplete_mac.bash
src/main/resources/db/liquibase/lib/liquibase_autocomplete.sh
src/main/resources/db/liquibase/lib/liquibase_autocomplete.zsh
src/main/resources/db/liquibase/lib/mysql-connector-j-9.4.0.jar
src/main/resources/db/liquibase/lib/README.txt
src/main/resources/db/liquibase/licenses/commercial/apache-2.0.txt
src/main/resources/db/liquibase/licenses/commercial/bsd-3-clause.txt
src/main/resources/db/liquibase/licenses/commercial/FDHUT.txt
src/main/resources/db/liquibase/licenses/commercial/Liquibase Pro EULA Software License Subscription and Support Agreement.txt
src/main/resources/db/liquibase/licenses/commercial/mit.txt
src/main/resources/db/liquibase/licenses/commercial/README.txt
src/main/resources/db/liquibase/licenses/oss/apache-2.0.txt
src/main/resources/db/liquibase/licenses/oss/bsd-2-clause.txt
src/main/resources/db/liquibase/licenses/oss/bsd-3-clause.txt
src/main/resources/db/liquibase/licenses/oss/cddl1.1.txt
src/main/resources/db/liquibase/licenses/oss/edl-1.0.txt
src/main/resources/db/liquibase/licenses/oss/epl-1.0.txt
src/main/resources/db/liquibase/licenses/oss/epl-2.0.txt
src/main/resources/db/liquibase/licenses/oss/futc.txt
src/main/resources/db/liquibase/licenses/oss/ipla.txt
src/main/resources/db/liquibase/licenses/oss/lgpl-2.1.txt
src/main/resources/db/liquibase/licenses/oss/lgpl-3.0.txt
src/main/resources/db/liquibase/licenses/oss/mit.txt
src/main/resources/db/liquibase/licenses/oss/README.txt
